.home
  %h1
    Agenda oficial del divecFest 2013
    %br
    %small (página no oficial)
  %ul
    %li
      %a{:href => '/workshops/day1'}Talleres día 1    
    %li
      %a{:href => '/workshops/day2'}Talleres día 2
    %li
      %a{:href => '/conferences/day1'}Conferencias día 1
    %li
      %a{:href => '/conferences/day2'}Conferencias día 2