!!! 5
%html
  %h1
    Agenda oficial del divecFest 2013
    %small - página no oficial
  %h2 Ver agenda
  %ul
    %li
      %a{:href => '/workshops'}Talleres
  %ul
    %li 
      %a{:href => '/conferences/day1'}Conferencias día 1
  %ul
    %li 
      %a{:href => '/conferences/day2'}Conferencias día 2
      