!!! 5
%html{:lang => "es"}
  %head
    %meta{:charset => "utf-8"}
    %title= @title
    %link{:type => 'text/css', :rel => 'stylesheet', :href => '/stylesheets/style.css'}
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
  %body
    = yield

    :javascript
      $(document).ready(function() {
        $('.menu_mobile a').click(function() {
          $('.menu_desktop').slideToggle();
        });
        $('.menu_desktop ul li a').click(function() {
          $('.menu_desktop').slideToggle();
        });
      });