.menu_mobile
  %a MENU 
.menu_desktop
  %ul
    %li
      %a{:href => '/'} Inicio
    %li
      %a{:href => '/workshops/day1'} Talleres dia 1
    %li
      %a{:href => '/workshops/day2'} Talleres día 2
    %li
      %a{:href => '/conferences/day1'} Conferencias día 1
    %li
      %a{:href => '/conferences/day2'} Conferencias día 2