%ul
  %li
    %a{:href => '/'} Inicio
  %li
    %a{:href => '/workshops'} Talleres
  %li
    %a{:href => '/conferences/day1'} Conferencias dia 1
  %li
    %a{:href => '/conferences/day2'} Conferencias dia 2