* {
  font-family: Helvetica, Arial; }

body {
  background-image: url("/images/squairy_light.png"); }

.home {
  text-align: center; }
  .home ul {
    list-style: none;
    padding: 0;
    width: 35%;
    margin: 0 auto; }
    .home ul li {
      padding: 0.5em 0; }
      .home ul li a {
        text-decoration: none;
        display: block;
        padding: 1em 0;
        font-size: 1.5em;
        background-image: -o-linear-gradient(top, #0088cc, #0044cc);
        background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
        background-image: linear-gradient(top bottom, #0088cc, #0044cc);
        background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), top(#0044cc));
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        border-color: #0044cc #0044cc #0088ff;
        color: #ffffff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        background-color: #006dcc;
        background-repeat: repeat-x;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px; }
        .home ul li a:hover {
          background: #0044cc; }
        .home ul li a:active {
          background-image: -o-linear-gradient(top, #002f8e, #0044cc);
          background-image: -moz-linear-gradient(top, #002f8e, #0044cc);
          background-image: linear-gradient(top bottom, #002f8e, #0044cc);
          background-image: -webkit-linear-gradient(top, #002f8e, #0044cc);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#002f8e), top(#0044cc));
          border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
          border-color: #0044cc #0044cc #0088ff; }

@media (max-width: 600px) {
  .home ul {
    width: 90%; } }
